.Testimonial_container{
width: 70%;
}

.side-by-side {
  display: flex;
  flex-direction: row;
}

.grid-container-element { 
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 20px; 
  border: 1px solid black; 
  width: 50%; 
} 
.grid-child-element { 
  margin: 10px; 
  border: 1px solid red; 
}

.box {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.single_testimonialf{
    /*background: rgb(10, 31, 51); */
    background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
    padding:10px;
    color: rgb(128, 20, 20);
    margin:0 auto ;
    width: 50%;
    margin-top: 6rem;
    height: 20vh;
}